!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title= "#{current_user.business_name_or_name} invoice \##{@invoice.id}"
    = wicked_pdf_stylesheet_link_tag "invoice"

  %body
    #container
      #content
        .invoice-preview
          .invoice-details.half
            %h2 Invoice
            %p
              Date:
              %b= rfc822 @invoice.date
            %p
              Invoice Number:
              %b= @invoice.id
            %p
              Terms:
              %b= @invoice.client.terms

          .company.half
            = wicked_pdf_image_tag current_user.logo.url(:pdf) if current_user.logo.exists?
            %h3= current_user.business_name_or_name
            - unless current_user.address.blank?
              %p= h current_user.address
            - unless current_user.address2.blank?
              %p= h current_user.address2
            - if current_user.city_state_zip
              %p= h current_user.city_state_zip
            %p= mail_to current_user.business_email_or_email
        
          .invoicee
            %h5 Attn
            %h3= @invoice.client.contact
            %h4= @invoice.client.company_name

          .project
            %h5 Project
            %h3= @invoice.client.name

          %table.list-items
            %thead
              %tr
                %th Item
                %th
                %th
                %th Price
            %tbody
              - @invoice.line_items_for_invoice.each do |line_item|
                %tr
                  %td= line_item.notes
                  %td
                  %td
                  %td= number_to_currency line_item.total

            %tfoot
              %tr
                %td(colspan="3") Subtotal
                %td= number_to_currency @invoice.total
              %tr
                %td(colspan="3") Fees
                %td $0
              %tr
                %td(colspan="3") Amount Paid
                %td $0
              %tr
                %td(colspan="3") 
                  %b Balance Due
                %td 
                  %b= number_to_currency @invoice.total

          .signature
            - if current_user.signature?
              = wicked_pdf_image_tag current_user.signature.url(:pdf)
            - else
              %p Thank you,
              %p= current_user.name
              %p= current_user.business_name_or_name

        .invoice-footer
          %p= @invoice.client.terms_explanation

