= error_messages_for :client

= form_for @client do |f|
  %p
    = f.label :name, "Project Name"
    = f.text_field :name
  %p
    = f.label :contact, "Contact Name"
    = f.text_field :contact
  %p
    = f.label :contact, "Company Name"
    = f.text_field :company_name
  %p
    = f.label :email
    = f.text_field :email
  %p
    = f.label :terms
    = f.text_field :terms
  %p
    = f.label :terms_explanation
    = f.text_area :terms_explanation

  %p
    = f.submit @client.new_record? ? "Create" : "Update", :class => "button"
    = link_to 'Back', clients_path, :class => "button"
